<div class="main">


  <h1 class="header">Incidents Portal</h1>

  <div class="container">
    <div class="box">
      <div>
        <a href="/issues">
          <figure>
            <img class ="responsive" src = "images/user-issue.svg" alt="View Issues" />
              View all issues
          </figure>
        </a>
      </div>
    </div>

    <div class="box">
      <div>
        <a href="/users">
          <figure>
            <img class ="responsive" src = "images/user.svg" alt="View Issues" />
              View all issues
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
