<div class="main">


  <h1 class="header">Incidents Portal</h1>

  <div class="container">

    <div class="box">
      <div>
        <a href="/issues">
          View Issues
        </a>
      </div>
    </div>

    <div class="box">
      <div>
        <a href="/users">
          View Users
        </a>
      </div>
    </div>
  </div>
</div>
