header{
  display:flex;
  justify-content: space-between;
}

#logo{
  display: inline-block;
  padding-top: 2em;
  padding-right: 2em;
}

.site-header {
  display: flex;
  align-items: center;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav a {
  color: #4D8AC3;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  padding-bottom:8px;
  text-decoration: none;
  font-size: 2.5em;
}
