<h1>Edit User</h1>

<div style="margin: 5%;">

  <form method ="post" action="/users/<%=@user.id%>">


    <div class ="form_space">
      <label for ="name-field">Name:</label>
      <input class="new_form" type ="text" name ="name" id="name-field" value ="<%= @user.name %>" />
      <br />
    </div>
    <div class ="form_space">
      <input type="submit" value ="Edit User" />
    </div>
  </form>

</div>
