<h1>Register a new User/h1>

<form method = "POST" action ="/users">
  <div class ="form_space">
    <label for ="name">Name:</label>
    <input class="new_form" id ="name" type="text" name = "name" />

  </div>

  <input class="new" type="submit" value"Submit New User" />


</form>
